html, body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul, dd, dt, li, tbody, td, tfoot, th, thead, tr, button, del, ins, map, object, a, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, img, kbd, q, samp, small, span, strong, sub, sup, tt, var, legend, fieldset {
    margin: 0;
    outline:none;
}

ul,li{
  list-style:none;
  padding: 0;
}

input,
textarea,select{
    -webkit-appearance: none;
    font-family: inherit;
    outline:none;
}

img,
fieldset {
    border: 0;
    line-height: 0;
}

a {
    color: inherit;
    text-decoration: none;
    outline: none;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

input[required]:invalid,
input:focus:invalid,
textarea[required]:invalid,
textarea:focus:invalid {
    box-shadow: none;
}

p,
div {
    word-break: break-word;
    outline: none;
}

.italic {
    font-style: italic
}

.font8 {
    font-size: 8px;
}

.font10 {
    font-size: 10px;
}

.black {
    color: #4E4E4E;
}

.bold {
    font-weight: 500;
}

.font12 {
    font-size: 12px;
}

.font13 {
    font-size: 13px;
}

.font14 {
    font-size: 14px;
}

.font15 {
    font-size: 15px;
}

.font16 {
    font-size: 16px;
}

.font18 {
    font-size: 18px;
}

.font20 {
    font-size: 20px;
}

.cursor {
    cursor: pointer;
}

.underline,
.underline:hover {
    text-decoration: underline;
}

.paddingH10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

body,
pre,
xmp,
plaintext,
listing {
    font-size: 14px;
    font-family: -webkit-body,'Helvetica Neue', 'Lantinghei SC', 'Hiragino Sans GB', 'Microsoft YaHei', STHeiti, sans-serif;
    font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    line-height: 1.7;
    color: @font-color;
    -webkit-font-smoothing: antialiased;
    -ms-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}

pre {
    line-height: inherit;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.highlight {
    color: #FCBD21;
}

.highlight2 {
    color: #51D0D5;
}

.gray {
    color: #9A9A9A;
}

.gray3 {
    color: #585858;
}

.gray2 {
    color: #868686;
}

.right {
    float: right;
    line-height: inherit;
}

.dark {
    color: #6E6A6A;
}

.grey {
    color: #333;
}

.bottom_line {
    border-bottom: 1px solid #eee;
    margin: 10px 0;
}

.pointer {
    cursor: pointer;
}


::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #E5E5E5;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #D1D1D1;
}