.header {
    padding: 6em 0 0 0;
    box-sizing: border-box;
    min-height: 700px;
    overflow: hidden;
    background: url(/images/mountains-background.jpg)no-repeat center 100px;
    background-size: contain;
}

.header-icon {
    height: 250px;
    width: 250px;
    background: #554E4E;
    border-radius: 200px;
    margin: 3em auto 5em;
    box-shadow: 0 50px 80px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 0px 150px 200px;
    position: relative;
}

.greenButton {
    width: 200px;
    background-color:#00c872;
    margin: 0 auto;
    display: block;
    height: 50px;
    color: #FFF;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    border-radius: 25px;
}

.header-word {
    font-size: 29px;
    text-align: center;
    margin-top: 6em;
}

.travelContainer {
    margin: 15em 0 0 0;
    box-sizing: border-box;
    position: relative;
    background-color: #3B4B59;
    height: 560px;
}


.userInfo {
    position: absolute;
    right: 40px;
    top: 40px;
    bottom: 40px;
    border-radius: 2px;
    width: 340px;
    background-color: #FFF;
    box-shadow: 0 0 40px 0 rgba(107, 107, 107, 0.37);
}

.userIcon {
    margin-top: 50px;
    text-align: center;
}

span {}

.userIcon>span {
    display: block;
    width: 120px;
    height: 120px;
    background-size: contain;
    border-radius: 60px;
    margin: 0 auto;
}

.userInfo p.userName {
    font-size: 20px;
    text-align: center;
    margin: 20px 0 4px;
}

.userInfo .greenButton {
    position: absolute;
    bottom: 90px;
    margin: 0 auto;
    left: 0;
    right: 0;
}


.startDate {
    position: absolute;
    height: 80px;
    width: 80px;
    top: -40px;
    padding: 16px 0;
    background-color: #1EC474;
    color: #FFF;
    line-height: 24px;
    text-align: center;
    left: 40px;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    font-family: cursive;
    box-sizing: border-box;
    z-index: 10;
}

p.wayTitle {
    text-align: center;
    font-size: 27px;
    margin-top: 5px;
}

.travelTitle {
    color: #FFF;
    margin-left: 140px;
    padding-top: 8px;
    font-size: 15px;
    position: absolute;
    z-index: 10;
}

.mapContainer {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.user-icon {
    z-index: 1000!important;
}

.header-icon img {
    height: 100%;
    width: 100%;
}