
#mapContainer {
  margin: 0 auto;
  height: 280px;
  width: 1024px;
  background: #ccc;
}

#wayList {
  margin: 0 auto;
  width: 1024px;
}

#wayList .way {
  height: 85px;
  margin: 5px 0;
  background: #ccc;
}

#wayList .way.active {
  border: 5px solid green;
}

#floatTip {
  position: absolute;
  left: 0;
  top: 0;
  color: #fff;
  /*background: rgba(0, 0, 0, .5);*/
  width: 100%;
  height: 28px;
  font-size: 20px;
  line-height: 28px;
}
