header{
  position: absolute;
  top: 0;
	height:100%;
  width: 100%;
	background: #F67676;
}

.mapContainerDiv{
  position:absolute;
  left:0;
  width:50%;
  top:100%;
  height:100%;
}
#mapContainer {
	height: 100%;
}

#blog{
	margin: 100% 20% 0 50%;
	background: red;
}

#timeline {
    position: absolute;
    top: 100%;
    right: 0;
    width: 200px;
    bottom: 0;
}

